h1 {
    color: blue;
    font-size: 100px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: red;
    font-size: 75px;
    margin-left: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
    width: 800px;
    height: 550px;
    margin-left: 50px;
}
@media all and (max-width:950px) {
    h1 {
        color: red;
        font-size: 70px;
        font-family: 'fredericka the great';
    }
    h2 {
        color: green;
        font-size: 40px;
        font-family: 'bevan';
       
    }
    img {
        width: 600px;
        height: 450px;
    }
}
@media all and (max-width:700px) {
    h1 {
        color: yellow;
        font-size: 50px;
        font-family: 'bevan';
        
    }
    h2 {
        color: turquoise;
        font-size: 30px;
        font-family: 'fredericka the great';
        
    }
    img {
        width: 450px;
        height: 400px;
       
    }
}